.container {
  display: flex;
  gap: calc(min(36px, 7vw));
  flex-wrap: wrap;
}

.imageContainer {
  height: 64px;
}

.textContainer {
  flex: 1;
  min-width: 260px;
}

.textContainer h2 {
  font-size: 1.5rem;
}

.textContainer h3 {
  font-size: 1.2rem;
}

.textContainer svg {
  margin-right: 0.5rem;
}

.textContainer p {
  white-space: pre-wrap;
}
