:root {
  --highlighted-link-color: #87cefa;
  --link-hover-color: #4a93c0;
  --header-footer-padding: 36px;
  --site-background-color: rgb(10, 37, 48);
  --drop-shadow-color: rgb(3, 12, 15);
  --text-color: white;
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--site-background-color);
  font-family: 'Work SansVariable', sans-serif;
}

.mono {
  font-family: 'Source Code ProVariable', monospace;
}

.button {
  color: var(--highlighted-link-color);
  border: 1px solid var(--highlighted-link-color);
  border-radius: 3px;
  padding: 0.6rem 1rem;
}

.button:hover {
  color: var(--highlighted-link-color);
  background-color: rgb(25 51 67);
}

a {
  text-decoration: none;
  color: white;
}

a.highlightedLink {
  font-weight: 600;
  color: var(--highlighted-link-color);
}

a:hover {
  color: var(--link-hover-color);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
