:root {
  /* Colors */
  --color-1: #deddd1;
  --color-2: #89c9ce;
  --color-3: #507883;
  --color-4: #51a9bf;
  --color-5: #182727;
  --drop-shadow-color: var(--color-5);

  /* Padding */
  --header-footer-padding: 36px;

  /* Font */
  --font-primary: 'Work SansVariable', sans-serif;
  --font-mono: 'Source Code ProVariable', monospace;
  --icon-button-default-height: 2rem;

  /* Animations */
  --animation-duration: 0.4s;
}

/* Light Mode */
:root {
  --text-color: var(--color-4);
  --site-background-color: var(--color-1);
  --link-color: var(--color-3);
  --link-color-hover: var(--color-5);
}

/* Dark Mode */
:root.dark {
  --text-color: var(--color-1);
  --site-background-color: var(--color-5);
  --link-color: var(--color-2);
  --link-color-hover: var(--color-1);
}

/* Element styles */

body {
  color: var(--text-color);
  background-color: var(--site-background-color);
  margin: 0;
  font-family: var(--font-primary);
  transition: color var(--animation-duration);
  transition: background-color var(--animation-duration);
}

.mono {
  font-family: var(--font-mono);
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--link-color);
}

a,
button {
  color: var(--link-color);
  transition: color var(--animation-duration);
}

a:hover,
button:hover {
  color: var(--link-color-hover);
}

button,
a.button {
  border: 1px solid var(--link-color);
  border-radius: 3px;
  padding: 0.6rem 1rem;
}

button:hover,
a.button:hover {
  background-color: var(--color-2);
}

.icon {
  font-size: var(--icon-button-default-height);
  line-height: var(--icon-button-default-height);
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover {
  background: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.title {
  font-size: min(10vw, 6rem);
  font-weight: 600;
  margin-bottom: 3rem;
}
