:root {
  /* Colors chosen using http://colormind.io/bootstrap/ */
  --color-1: #f8f9f7; /* light shades */
  --color-2: #b18b87; /* light accent */
  --color-3: #cc4250; /* main brand color */
  --color-4: #db7965; /* dark accent */
  --color-5: #262e3b; /* dark shades */
  --card-box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%),
    0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
  --background-color-light: var(--color-1);
  --background-color-dark: var(--color-5);
  --text-color-light: var(--color-5);
  --text-color-dark: var(--color-1);

  /* Font */
  --font-primary: 'Red Hat DisplayVariable', sans-serif;
  --font-mono: 'Red Hat MonoVariable', monospace;
  --icon-button-default-height: 2rem;

  /* Animations */
  --animation-duration: 0.4s;
}

/* Light Mode */
:root {
  --text-color: var(--text-color-light);
  --background-color: var(--background-color-light);
  --text-color-inverted: var(--text-color-dark);
  --background-color-inverted: var(--background-color-dark);
  --link-color: var(--color-2);
  --link-color-hover: var(--text-color);
  --link-accent-color: var(--color-4);
  --link-accent-color-hover: var(--text-color);
}

/* Dark Mode */
:root.dark {
  --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
  --text-color-inverted: var(--text-color-light);
  --background-color-inverted: var(--background-color-light);
  --link-accent-color: var(--color-3);
}

/* Element styles */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  font-family: var(--font-primary);
}

body,
a,
button {
  transition: color var(--animation-duration),
    background-color var(--animation-duration);
}

section {
  margin-bottom: 120px;
}

.mono {
  font-family: var(--font-mono);
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

button:not(.icon),
a.button:not(.icon) {
  color: var(--link-color);
  border: 1px solid var(--link-color);
  border-radius: 3px;
  padding: 0.6rem 1rem;
}

button:not(.icon):hover,
a.button:not(.icon):hover {
  color: var(--background-color);
  background-color: var(--text-color);
  border: 1px solid var(--text-color);
}

.link-accent,
.icon {
  color: var(--link-accent-color);
}

.icon {
  font-size: var(--icon-button-default-height);
  line-height: var(--icon-button-default-height);
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover,
.link-accent:hover {
  color: var(--link-accent-color-hover);
}

.icon.hover-fill svg {
  fill: transparent;
  transition: fill var(--animation-duration);
}

.icon.hover-fill:hover svg {
  fill: var(--link-accent-color-hover);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h6 {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h6 {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  line-height: 1.5;
}
