:root {
  --page-padding: 36px;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-template-areas: 'header' 'main' 'footer';
  align-items: start;
  padding: var(--page-padding);
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: [logo] auto [nav] 1fr [dark-mode-toggle] auto;
  align-items: center;
  z-index: 1000;
}

.logoAndSkipLink {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.skipLink {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  z-index: 1;
  opacity: 1;
  transition: opacity var(--animation-duration) ease-in-out;
}

.skipLink:focus {
  clip: auto;
  opacity: 1;
  top: 0;
}

.fullNav,
.navMenuButton {
  display: none;
  grid-column-start: nav;
  justify-self: end;
}

.navMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 901px) {
  .fullNav {
    display: inline-block;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .navMenuButton {
    display: inline-block;
    margin-right: 1rem;
  }
}

.darkModeToggle {
  grid-column-start: dark-mode-toggle;
  justify-self: end;
}

.main {
  grid-area: header;
  padding: 0 var(--page-padding);
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-rows: [contact] auto [credits] auto;
}

.contact {
  justify-self: center;
}

.scrollToTopButton {
  position: fixed;
  bottom: var(--page-padding);
  right: var(--page-padding);
}
