.linkList {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin: 0;
}

.linkList li {
  margin-bottom: 0;
}

.linkList.stackedList {
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
}
