.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.introText {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: min(12vw, 6rem);
  margin-bottom: 2rem;
  line-height: 1;
}

.profilePhotoContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePhoto {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -khtml-border-radius: 50%;
  width: min(420px, 60vw);
}

.profilePhoto img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -khtml-border-radius: 50%;
  vertical-align: middle;
}

.lifeLinksContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 15%;
  margin-top: 2rem;
}

.lifeLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.workExperience {
  display: flex;
  flex-direction: column;
  place-items: center;
}
