.intro {
  display: grid;
  grid-template-rows:  
}

.introText {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introPhoto {
  flex: 1;
  display: flex;
  place-items: center;
}

.profilePic {
  width: 30rem;
  max-width: 30rem;
  border-radius: 50%;
}

.subtitle {
  text-align: center;
  font-weight: 600;
}
