.container {
  max-width: 34rem;
}

.email {
  color: var(--highlighted-link-color);
  font-weight: bold;
}

.socialLinkList {
  list-style: none;
  padding: 0;
}

.socialLinkList > li {
  margin-bottom: 8px;
}
