.hamburger {
  z-index: 1;
}

.hamburger:hover .line {
  background: var(--link-color-hover);
}

.hamburger.menuOpen .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.menuOpen .line:nth-child(2) {
  opacity: 0;
}

.hamburger.menuOpen .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.line {
  width: 25px;
  height: 2px;
  background: var(--link-color);
  margin: 5px;
}
